.vue-scroll-picker {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.vue-scroll-picker-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.vue-scroll-picker-list-rotator {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - .6em);

  &.-transition {
    transition: top ease 200ms;
  }
}

.vue-scroll-picker-item {
  margin-bottom: 20px;
  text-align: center;
  height: 1.2em;
  line-height: 1.2em;
  color: #fff;

  &.-placeholder {
    color: #aaa;
  }
}

.-selected {
  color: var(--primary-color);
}

.vue-scroll-picker-layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  .top,
  .middle,
  .bottom {
    position: absolute;
  }

  .top {
    box-sizing: border-box;
    border-bottom: 1px solid #c8c7cc;
    -webkit-mask-image: linear-gradient(0deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100, 0) 100%);
    top: 0;
    left: 0;
    right: 0;
    height: calc(50% - 1em); // 96
    cursor: pointer;
  }

  .middle {
    top: calc(50% - 1em);
    left: 0;
    right: 0;
    bottom: calc(50% - 1em);
  }

  .bottom {
    box-sizing: border-box;
    border-top: 1px solid #c8c7cc;
    -webkit-mask-image: linear-gradient(180deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100, 0) 100%);
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(50% - 1em);
    cursor: pointer;
  }
}